apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: query-api
  namespace: supply-shock
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: query-api
  minReplicas: 3
  maxReplicas: 20
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 65
